<footer
  class="footer bd-footer bg-transparent py-4 py-md-3 mb-5 mt-auto"
  data-bs-theme="light"
>
  <div class="container text-center">
    <span class="text-muted">Ginzburg Studios &copy; 2025</span>
  </div>
</footer>
