<% layout("layouts/boilerplate") %>
<link rel="stylesheet" href="/stylesheets/sortButton.css" />
<div class="container my-4">
    <div class="d-flex justify-content-between mb-4">
        <h1><%= title %></h1>
        <h2 class="text-danger" id="totalExpenses"></h2>
    </div>

    <div class="row mb-4 justify-content-center">
        <div class="row justify-content-between">
            <div class="col-auto">
                <button
                    id="sortButton"
                    type="button"
                    class="btn btn-outline-primary rounded-circle d-flex align-items-center justify-content-center"
                    style="width: 40px; height: 40px"
                >
                    <i class="bi bi-filter"></i>
                </button>
            </div>
            <div class="col-auto col-md-3">
                <button
                    id="filterButton"
                    type="button"
                    class="btn btn-outline-primary w-100"
                    data-bs-toggle="modal"
                    data-bs-target="#sortFilterModal"
                >
                    <i class="bi bi-funnel-fill me-2"></i>Filter
                </button>
            </div>
            <div class="col-auto col-md-3">
                <a href="/expenses/new" class="btn btn-success w-100">
                    <i class="bi bi-plus-circle-fill me-2"></i>Create
                </a>
            </div>
        </div>
    </div>
    <% if (expensesList && expensesList.length > 0) { %>
    <ul class="list-group">
        <% expensesList.forEach(expense => { %> <%- include("expenseItem", {expense}) %> <% }); %>
    </ul>
    <% } else { %>
    <div class="alert alert-info" role="alert">No expenses recorded yet.</div>
    <% } %>
    <div id="noResultsMessage" class="alert alert-warning text-center" style="display: none">
        No expenses match your filter criteria.
    </div>
</div>

<script src="/scripts/expensesIndex.js"></script>

<%- include("filterModal", {maxPrice}) %>

<script src="/scripts/sort.js"></script>
