<div class="col-12 col-md-6 col-lg-5">
    <a href="/expenses" class="card text-decoration-none text-dark shadow-sm h-100 lift-effect">
        <div class="card-body text-center">
            <h5 class="card-title fw-bold mb-3">Expenses</h5>
            <p class="card-text text-muted fs-4"><%= formatters.formatCurrencyILS(expenses) %></p>
            <i class="bi bi-arrow-down-circle-fill fs-3 text-danger"></i>
        </div>
    </a>
</div>
